body{
    font-family: $TitleFont;
    color : $FontColorBody;
    margin : 0px;
    padding : 0px;
}

h1{
    text-align: $TextAlign;
}

.container{
    @extend %wadah;

}

.container_div{
    text-align: center;
    width: 100%;
    margin: 15px auto;
    box-sizing: border-box;
    background: #343434;
}

div{
    @extend %SettingDiv;
}

div img{
    width : 50px;
    
}
.modern{
    border-bottom: 3px solid lightseagreen;
    margin-left: 120px;
}

.simple{
    border-bottom: 3px solid #f37674;;
}

.flexible{
    border-bottom: 3px solid #b4cc80;;
}

p{
    font-size: $fontcontent;
    text-align: center;
}

