$font : "Somatic Rounded",sans-serif;

body{
    font-family: $font;
    margin: 0px;
    padding: 0px;
}

section{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

section#team h2{
    text-transform: uppercase;
    color:#bbbbbb;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

section{
    .detail{
        p{
            text-align: center;
        }
    }
}

section#team{
    background: #505e5e;
}

main#card-team{
    // width: 100%;
    // height: 100%;
    padding: 0;
    margin: 0;
}

.card{
  position: relative;
  background: whitesmoke;
  height: 180px;
  padding: 8px;
}

.card{
    img{
        padding: 1px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

%content-card-shared{
    padding: 5px;
    width: 30px;
    height: 30px;
}
section.content-card{
    width: 100%;
    background: grey !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.content-card {
    img{
        @extend %content-card-shared;
        box-sizing: content-box;
        float: left;
        margin-left: 3em;
    }
}

%column-4-shared{
    box-sizing: border-box;
    width: 25%;
    display: inline-block;
    padding: 8px; 
}

.column-4{
    .card{
        @extend %column-4-shared;
        float: left;
        clear: right;
    }
}
@import 'materials/variable';
@import 'materials/layout';
body{
    margin: 0;
    padding: 0;
}
.jumbotron{
    padding: 200px;
    margin-bottom: 80px;
    background: #F08080;
    h1{
        font-size: 40px;
        font-weight: bolder;
        span{
            color: white;
            font-weight: lighter;
        }
    }
    button{
        background-color:#F08080; /* Green */
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: black;
        border: 2px solid white;
    }
}

.left{
    float: left;
    width: 50%;
}
.right{
    width: 50%;
    float: right;
    img{
        width: 90%;
    }
}
